<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{% block title %}{% endblock %} « IGJam.eu</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/navi.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/texte.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/contentelemente.css') }}"/>
		{% if gamescom %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/gamescom.css') }}"/>
		{% endif %}
		<script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>

		<link rel="icon" href="{{ url_for('static', filename='img/gamescom/favicon.ico') }}" type="image/x-icon">

		{% block head %}{% endblock %}
	</head>
	<body>
		<!-- Header Start -->
		<section id="header">
			<div class="row">
				<div class="small-6 columns">
					<!-- Header text -->
					<a href="{{ url_for('jam_info', jam_slug='gamescom-2016') }}">
						<p class="logo-top">
							<img src="{{url_for('static', filename='img/gamescom/Gamescom-logo.png')}}" style="max-height:135px; padding-bottom: 5px; background-color: black">
						</p>
						<p class="logo-bottom">
							17.08 - 19.08.2016
						</p>
					</a>
				</div>

				<div class="small-6 columns right">
					<!-- Login -->
					{% if current_user.is_anonymous == True %}
					<a href="{{ url_for('login') }}" class="button login">Login</a>

					<p class="logout_headline">&nbsp;</p>
					{% else %}
					{% if current_user.invitiation %}
					<a href="{{ url_for('invitations') }}" class="button login">{{ current_user.invitation | length }}
						<i class="icon-envelope"></i></a>
					{% endif %}
					<a href="{{ url_for('profile') }}" class="button login" id="account">
						<img class="avatar" src="{{ current_user.avatar }}" width="16" height="16"/>
						{{ current_user.username }} <br/>
					</a>

					<p class="logout_headline"><a href="{{ url_for('logout') }}">Logout</a></p>
					{% endif %}
					<!-- Follow us on -->
					<p class="socialmedia_headline">Follow us on</p>
					<ul class="socialmedia">
						<li class="facebook"><a href="https://www.facebook.com/igjam/" target="_blank"></a></li>
						<li class="youtube show-for-medium-up"><a href="https://www.youtube.com/user/InnoGames" target="_blank"></a></li>
						<li class="twitter"><a href="https://twitter.com/IGJam16" target="_blank"></a></li>
					</ul>
				</div>
			</div>
		</section>
		<!-- Header Stop -->

		<nav class="row hide-for-large-up">
			<div class="icon-bar five-up">
				<a class="item" href="{{ url_for('index') }}"><label>Home</label></a></li>
				<a class="item" href="{{ url_for('news') }}"><label>News</label></a>
				<a class="item" href="{{ url_for('rules') }}"><label>Rules</label></a>
				<a class="item" href="{{ url_for('faq') }}"><label>FAQ</label></a>
				<a class="item" href="{{ url_for('about') }}"><label>About</label></a>
			</div>
		</nav>

		<!-- Navi Start -->
		<nav class="row show-for-large-up">
			<div class="row">
				<div class="large-12 columns nav-content">
					<ul class="main_menu">
						{% if request.endpoint == "index" %}
						<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
						{% else %}
						<li><a href="{{ url_for('index') }}">Home</a></li>
						{% endif %}

						{% if request.endpoint == "news" %}
						<li class="active"><a href="{{ url_for('news') }}">News</a></li>
						{% else %}
						<li><a href="{{ url_for('news') }}">News</a></li>
						{% endif %}

						{% if request.endpoint == "rules" %}
						<li class="active"><a href="{{ url_for('rules') }}">Rules</a></li>
						{% else %}
						<li><a href="{{ url_for('rules') }}">Rules</a></li>
						{% endif %}

						{% if request.endpoint == "faq" %}
						<li class="active"><a href="{{ url_for('faq') }}">FAQ</a></li>
						{% else %}
						<li><a href="{{ url_for('faq') }}">FAQ</a></li>
						{% endif %}

						{% if request.endpoint == "jams" %}
						<li class="active"><a href="{{ url_for('jams') }}">Game Jams</a></li>
						{% else %}
						<li><a href="{{ url_for('jams') }}">Game Jams</a></li>
						{% endif %}

						{% if request.endpoint == "games" %}
						<li class="active"><a href="{{ url_for('games', page=1) }}">Games</a></li>
						{% else %}
						<li><a href="{{ url_for('games', page=1) }}">Games</a></li>
						{% endif %}

						{% if request.endpoint == "about" %}
						<li class="active"><a href="{{ url_for('about') }}">About</a></li>
						{% else %}
						<li><a href="{{ url_for('about') }}">About</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		<!-- Navi Stop -->

		<!-- Content Start -->
		<section id="content">
			<span class="show-for-large-up">
			{% block breadcrumb %}{% endblock %}
			</span>
			{% for message in get_flashed_messages() %}
			<div class="row" style="margin-top:5px;">
				<div class="large-12 columns">
					<div data-alert class="alert-box success radius">
						{{ message }}
					</div>
				</div>
			</div>
			{% endfor %}

			<div class="content">
				{% block center %}
				{% endblock %}

				{% block content %}
				Wooops... no content found :(
				{% endblock %}
			</div>
		</section>
		<!-- Content Stop -->

		{% include "footer.html" %}

		<script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>
