<div id="footer">
        <a href="http://innogames.com/" title="InnoGames">InnoGames.com</a> | <a href="http://legal.innogames.de/?type=imprint&amp;game=portal&amp;lang=en&amp;market_id=en" title="Imprint">Imprint</a>
	<br />
	Downloads linked from any page are not moderated by the site owners and may contain
	harmful materials. Only you are responsible for any damage caused by these.
	<br />
	Images (screenshots) hosted on other sites are not moderated by the site owners
	and may contain illegal or obnoxious materials. You use this site at your own risk.
	<br />
	This page is fired by the awesome <a target="_blank" href="https://github.com/svenstaro/flamejam">FlameJam</a>, thanks guys!
</div>
