{% extends "base_gamescom.html" %}

{% block title %}Home{% endblock %}

{% block breadcrumb %}
<div class="row ">
	<div class="small-12 columns">
		<ul class="breadcrumb_menu">
			<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
{% set counting = false %}
{% for jam in jams if jam.start_time < current_datetime < jam.end_time and not counting %}
{% set counting = true %}
{% block head %}
<link href='//fonts.googleapis.com/css?family=Wallpoet&v2' rel='stylesheet' type='text/css'>
{% endblock %}
<a href="{{ url_for('countdown', jam_slug = jam.slug) }}">
	{% set diff = jam.end_time - current_datetime %}
	<div class="home-countdown" time="{{ jam.end_time }}">
		<div class="text">{{ jam.title }} ends in</div>
		<div class="time">{{ diff | countdowndelta }}</div>
	</div>
</a>
{% endfor %}

<!-- Banner -->
<div class="row top-banner">
	<!-- green Box -->
	<div class="large-8 columns">
		<div class="space">
			<h1 style="font-size: 2em">JOIN THE INNOGAMES JAM 2016!</h1>

			<p style="color: white; font-size: 14px">We’re proud to announce the first major game jam at Gamescom 2016 in Cologne: The InnoGames Jam! Join this unique event and develop awesome games with people from all over the world in 48 hours. WE WANT YOU… No matter if you are a newbie or already participated in hundreds of jams - it’s all about having an amazing time together! You can apply now for the free submission process and become one of up to 300 to participate in this one of a kind event. If you can’t afford your traveling costs alone, please don’t let this be your knock-out criterion, just fill out the fields for our travel grants and we will try to help you as much as we can. </p>

			<p>Your 50 € ticket includes:
			<ul style="margin-left: 1.1rem; padding: 0px 0px 0px; line-height: 15px; margin-top: 0px;">
				<li>Access to the Jam</li>
				<li>a 3 Day Gamescom pass (17th-19th of August)</li>
				<li>Catering and chill out area</li>
				<li>An awards show with sweet prizes</li>
				<li>300 potential new friends</li>
			</ul>
			</p>

			<p style="color: white">The winners of this event will be able to showcase their jam games for FREE at the awarded Indie Arena Booth in Hall 10.1 from the 20th-21st of August! So what are you waiting for? Apply now and be one of the many game enthusiasts to participate in the IGJAM 2016. Good luck!
				<br/>
				Please read the FAQ for more info.
			</p>

			<p style="color: white"><a href="{{ url_for('gamescom') }}">Click here to apply for the Jam!</a>
			</p>
		</div>
	</div>
	<div class="large-4 columns">
		<a href="{{ url_for('gamescom') }}">
			<div class="apply_box opacityfade">
				<p>
					<span class="next">Apply</span><br>
					<span class="here">here</span>
				</p>
			</div>
		</a>

		<h3>Sponsors & Partner</h3>
		<div class="sponsors" style="padding: 0px 0px 1px 1px">
			<a href="http://www.intelcapital.com/advantage/diversity-fund.html"><img height="100%" src="{{ url_for('static', filename='img/gamescom/01_Intel.png') }}" alt="Intel" style="padding: 1px 1px"></a>
			<a href="http://www.biu-online.de/"><img src="{{ url_for('static', filename='img/gamescom/02_BIU.png') }}" alt="BIU"></a> <br>
			<a href="http://www.indiearenabooth.de/"><img src="{{ url_for('static', filename='img/gamescom/03_IndieArena.png') }}" alt="IndieArena"></a>
			<br>
			<a href="http://www.gamasutra.com/"><img src="{{ url_for('static', filename='img/gamescom/04_Gamasutra.png') }}" alt="Gamasutra"></a> <br>
		</div>
		<h3>Video</h3>
		<iframe width="311" height="175" src="//www.youtube.com/embed/Ska8e5DjshE" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<!-- Content Stop -->

{% endblock %}

