{% extends "base_gamescom.html" %}

{% block title %}Home{% endblock %}

{% block breadcrumb %}
<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumb_menu">
			<li class="active"><a href="{{ url_for('index') }}">Home</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
{% set counting = false %}
{% for jam in jams if jam.start_time < current_datetime < jam.end_time and not counting %}
{% set counting = true %}
{% block head %}
<link href='//fonts.googleapis.com/css?family=Wallpoet&v2' rel='stylesheet' type='text/css'>
{% endblock %}
<a href="{{ url_for('countdown', jam_slug = jam.slug) }}">
	{% set diff = jam.end_time - current_datetime %}
	<div class="home-countdown" time="{{ jam.end_time }}">
		<div class="text">{{ jam.title }} ends in</div>
		<div class="time">{{ diff | countdowndelta }}</div>
	</div>
</a>
{% endfor %}

<div class="content">
	<!-- Banner -->
	<div class="row top-banner">

		<!-- green Box -->
		<div class="large-8 columns">
			<div class="space">
				<h1 style="font-size: 2em">Join the IGJam @ Gamescom 2016</h1>
				<p style="color: white; font-size: 14px">We're proud to announce the first major game jam at Gamescom 2016 in Cologne:<br>
					The InnoGames Jam sponsored by Intel! Join this unique event and develop in 48h awesome video games with developers from all over the world. WE WANT YOU! No matter if you are a newbee or already participated at hundreds of jams - it's all about having an amazing time together! You can apply now for the free submission process and become one of the 300 participants of this one of a kind event.
				</p>
				<p>Your 60 $ ticket includes:
				<ul style="margin-left: 1.1rem; padding: 0px 0px; line-height: 15px; margin-top: 0px;">
					<li>access to the exclusive Jam area with internet connection</li>
					<li>3 day Gamescom pass (17th-19th of August)</li>
					<li>free catering and chill out area</li>
					<li>award show with prizes</li>
					<li>300 new friends to make</li>
				</ul>
				</p>
				<p style="color: white">The winners of this event will be able to showcase their jam games for FREE at the awarded Indie Arena Booth in Hall 10.1 from the 20th to 21st of August! So what are you waiting for? Apply now and be one of the lucky people to participate at the IGJam 2016. Good Luck!</p>
			</div>
		</div>
		<div class="large-4 columns">
			<h3>Sponsors & Partner</h3>
			<a href="{{ current_jam.url() }}">Our sponsors</a>

			<h3>Video</h3>
			<iframe width="311" height="175" src="//www.youtube.com/embed/GDx6WXpvl1o" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
</section>
<!-- Content Stop -->

{% endblock %}

