{% extends "base.html" %}

{% block title %}Game Jams{% endblock %}

{% block breadcrumb %}
<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumb_menu">
			<li><a href="{{ url_for('index') }}">Home</a></li>
			<li class="active">Game Jams</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}

<div class="row">
	<div class="large-10 columns news-list">

		{% for jam in jams %}
		<div class="gamejam-list-item">
			<a href="{{ jam.url() }}">
				<div class="row">
					{% if jam.thumbnail %}
					<div class="large-4 columns">
						<img class="news-related-rubrik-image opacityfade" src="{{ jam.thumbnail }}">
					</div>
					{% endif %}
					<div class="large-8 columns">
						<h3>{{ jam.title }}</h3>

						<p class="date">From {{ jam.start_time }}</p>

                        {% if jam.description %}
						    <p>{{ jam.description | markdown }}</p>
                        {% endif %}
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}