{% set jam = game.jam %}
{% extends "jam/base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block breadcrumb %}
<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumb_menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li>Game Jams</li>
            <li><a href="{{ url_for('jam_info', jam_slug=jam.slug) }}">{{ jam.title }}</a></li>
            <li class="active"><a href="#">Edit game</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <h1>Edit game</h1>

    <div class="span8">
        <form method="post" class="block">
            {{ form.hidden_tag() }}
            {{ form_errors(form) }}

            <h2>Game Settings</h2>

            {{ form.title.label() }}
            {{ form.title() }}

            {{ form.description.label() }}
            <p>{{ form.description(rows = 8, style="width:100%;") }}</p>

            {{ form.technology.label() }}
            <p>{{ form.technology(rows = 5, class="small-5") }}</p>

            {{ form.help.label() }}
            <p>{{ form.help(rows = 6, class="small-5") }}</p>

            <p style="text-align: center">
                <input type="reset" value="Reset" class="button alert"/>
                <input type="submit" value="Save settings" class="button"/>
            </p>
        </form>
    </div>
    <h2>Packages</h2>
    {% if not game.packages|count %}
    <p><i>There are no packages yet.</i></p>
    {% else %}
    {% for package in game.packages %}
    <p>{{ package.getLink() }}
        <a href="{{ url_for('game_package_edit', id = package.id, action = 'delete') }}"
           class="button alert mini">&times;</a>
    </p>
    {% endfor %}
    {% endif %}

    <h3>Add a package</h3>

    <form action="{{ url_for('upload_game_package', jam_slug = jam.slug, game_id = game.id) }}" method=post
          enctype=multipart/form-data>
        <p>
            {{ package_form.type(size="1", class="span5") }}
            <input type="file" name="file" id="packagefileupload" class="button">
            <input type="submit" value="Upload" class="button">
        </p>
    </form>

    <h2>Screenshots</h2>

    {% if not game.screenshots|count %}
    <p><i>There are no screenshots yet.</i></p>
    {% else %}
    <table class="screenshots-mini tabular small full">
        {% for screenshot in game.screenshotsOrdered %}
        <tr>
            <td width="48"><img src="{{ screenshot.url }}"/></td>
            <td>
                <a class="button mini"
                   href="{{ url_for('game_screenshot_edit', id = screenshot.id, action = 'up') }}">↑</a>
                <a class="button mini"
                   href="{{ url_for('game_screenshot_edit', id = screenshot.id, action = 'down') }}">↓</a>
                <a class="button mini"
                   href="{{ url_for('game_screenshot_edit', id = screenshot.id, action = 'delete') }}">&times;</a>
                <span style="margin-left: 5px; vertical-align: -2px;">{{ screenshot.caption }}</span>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </form>

    <h3>Add a screenshot</h3>

    <form action="{{ url_for('upload_game_image', jam_slug = jam.slug, game_id = game.id) }}" method=post
          enctype=multipart/form-data>
        <p>
            <input type="file" name="file" id="fileupload" class="button">
            <input type="submit" value="Upload" class="button">
        </p>
    </form>
</div>
{% endblock %}
