{% set jam = game.jam %}
{% extends "jam/base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block title %}{{ game.jam.title }} » {{ game.title }}{% endblock %}

{% block breadcrumb %}
<!-- Breadcrumb Start -->
<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumb_menu">
			<li><a href="{{ url_for('index') }}">Home</a></li>
			<li><a href="{{ url_for('jams') }}">Game Jams</a></li>
			<li><a href="{{ url_for('jam_info', jam_slug=game.jam.slug) }}">{{ game.jam.title }}</a></li>
			<li class="active"><a href="">{{ game.title }}</a></li>
		</ul>
	</div>
</div>
<!-- Breadcrumb Stop -->
{% endblock %}

{% block content %}

<div class="row">
	<!-- left Col -->
	<div class="large-8 columns">

		<h1 class="gamejam_overview">{{ game.title }}</h1>

		<p class="gamejam_subline"><a href="{{ game.team.url() }}">{{ game.team.name }}</a></p>

		{% if not game.screenshots|count %}
		{% else %}
		{% set screenshot = game.screenshots|first %}
		<img class="game_banner" src="{{ screenshot.url }}">
		{% endif %}


		{% if game.description %}
		<br/><br/>

		<p><strong>Description</strong><br>
			{{ (game.description or "*This game has no description.*") | markdown }}
		</p>
		{% endif %}

		{% if game.technology %}
		<p><strong>Technology used</strong><br> {{game.technology | markdown}}</p>
		{% endif %}

		{% if game.help %}
		<p><strong>Help / Controls</strong><br> {{game.help | markdown}}</p>
		{% endif %}

	</div>

	<!-- right Col -->
	<div class="large-4 columns">

		{% if current_user.is_authenticated() and current_user in game.team.members %}
		<a href="{{ url_for('edit_game', jam_slug = game.jam.slug, game_id = game.id) }}" class="button">Edit game</a>
		{% endif %}
		<!-- Downloads -->
		<h3>Downloads</h3>
		{% if game.packages %}
		{% for package in game.packages %}
		<p class="greenbox">{{ package.getLink() }}</p>
		{% endfor %}
		{% else %}
		<p class="greenbox">There are no packages available yet.</p>
		{% endif %}

		<!-- Screenshots -->
		<h3>Screenshots</h3>
		<ul class="block-grid large-block-grid-2">
			{% if game.screenshots %}
			{% for screenshot in game.screenshots %}
			<li><img src="{{screenshot.url}}"></li>
			{% endfor %}
			{% else %}
			<div class="next_gamejam_box opacityfade" style="background-color: grey; background-image: none;">
				<p>
					<span class="next">no</span><br>
					<span class="gamejam">image</span><br>
					<span class="more">found</span><br>
					<span class="here">:(</span>
				</p>
			</div>
			{% endif %}
		</ul>


		<p style="font-size: 16px; color:#61a400; text-align: center;">This game was created<br>at {{game.jam.title}}
		</p>

		<!-- Big Button -->
		<a href="{{ url_for('jam_games_lis', jam_slug=jam.slug, page=1) }}" class="button big allgames">All Games of
			{{jam.title}}</a>
	</div>
	<div class="row">
		<div class="large-8 columns">
			<br/>
			{% set status = game.jam.getStatus().code %}
			{% if status >= 4 %}
			{% set categories = game.ratingCategories + ["overall"] %}
			{% set cols = (categories | length) + 2 %}


			{% if status == 4 %}
			<p class="alert alert-info">The voting for this jam is not over, so other people's ratings are hidden.</p>
			{% endif %}

			{% if game.ratings %}
			<h2>Feedback</h2>
			<table class="ratings table table-bordered table-hover">
				<thead>
				<tr>
					<th>User</th>
					{% for c in categories %}
					<th class="score"><span class="icon-16 icon-16-{{ c }}" title="{{ c }}"></span></th>
					{% endfor %}
					<th>Notes</th>
				</tr>
				</thead>
				<tbody>
				{% if status == 5 %}
				<tr class="average">
					<td>Average</td>
					{% for c in categories %}
					<td class="score">{{ "%.2f" % game.feedbackAverage(c) }}</td>
					{% endfor %}
					<td></td>
				</tr>

				{% for rating in game.ratings %}
				<tr class="{{ 'deleted' if rating.user.is_deleted else ''}}">
					<td><p>{{ rating.user.getLink() }}</p></td>
					{% for c in categories %}
					<td class="score">{{ rating.get(c) }}</td>
					{% endfor %}
					<td>{{ rating.text or "&mdash;" | safe }}</td>
				</tr>
				{% endfor %}
				{% else %}
				{% if rating %}
				<tr>
					<td>{{ rating.user.getLink() }}</td>
					{% for c in categories %}
					<td class="score">{{ rating.get(c) }}</td>
					{% endfor %}
					<td>{{ rating.text or "&mdash;" | safe }}</td>
				</tr>
				<tr>
					<td colspan="{{ cols }}" style="text-align: center;">
						<a href="{{ url_for('rate_game', jam_slug = jam.slug, game_id = game.id) }}" class="btn btn-small">Edit my Rating</a>
					</td>
				</tr>
				{% elif current_user.is_authenticated() %}
				<tr>
					<td colspan="{{ cols }}" style="text-align: center;">
						<a href="{{ url_for('rate_game', jam_slug = jam.slug, game_id = game.id) }}" class="btn btn-small">Rate Game</a>
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="{{ cols }}" style="text-align: center;"><p>Please
						<a href="{{ url_for('login') }}">login or register</a>
						to vote on games.</p>
					</td>
				</tr>
				{% endif %}
				{% endif %}
				</tbody>
			</table>
			{% endif %}
			{% else %}
			<p>Rating has not yet started.</p>
			{% endif %}
			<h2>Comments</h2>
			{% if game.comments %}
			{% for comment in game.comments %}
			<p>
				{% if not comment.user %}
				<span class="author deleted user">[deleted]</span>

				{% else %}
				<a href="{{ comment.user.url() }}">
					<img src="{{ comment.user.getAvatar(32) }}" width="32" height="32"/>
				</a>
				<a class="author" href="{{ comment.user.url() }}">{{ comment.user.username }}</a>
				{% endif %}

				(<span class="posted" title="{{ comment.posted | formattime }}">{{ comment.posted | humantime }}</span>)

			<div class="text markdown">
				{{ (comment.text) | markdown }}
			</div>
			</p>
			{% endfor %}

			{% else %}
			<p>No comments yet.</p>
			{% endif %}
			<br/>
			{% if current_user.is_authenticated() %}
			<form method="POST">
				<p>
					{{ form_errors(form) }}
					{{ form.hidden_tag() }}
					{{ form.text(class="comment", rows = 8, style="min-width:100%") }}

				<div class="small">You can use markdown in the comments!</div>

				<p style="text-align: right;">
					<input type="submit" value="Post comment" class="button">
				</p>
				</p>
			</form>
			{% else %}
			<p>
				<a href="{{ url_for('login', next = request.url) }}">Log in or register</a> to post a comment.
			</p>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
