body {
	color: #65e9c2;
	background-color: #000000;
	background-image: url(../img/gamescom/decorations.png);
	background-position: top center, top center;
	background-repeat: no-repeat, repeat;
}

#content {
	background-color: transparent;
	background-image: none;
	margin-bottom: 20px;
}

.content li {
	padding: 0 0 0.5em 1em;
}

.breadcrumb_menu li,
.breadcrumb_menu li a {
	color: #65e9c2;
}

h1, h2, h3, h4 {
	color: #65e9c2;
}

#header {
	background: url(../img/gamescom/logo.png) no-repeat center center;
	height: 200px;
	background-color: rgba(0, 0, 0, 0);
	background-size: 10%;
}

.logo-top {
	color: white;
	margin-top: 10px;
	padding-bottom: 10px;
	width: 256px;
	height: 142px;
	border-style: solid;
	border-color: #65e9c2;
	border-top-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	border-left-color: rgba(0, 0, 0, 0);
	font-size: 30px;
}

.logo-bottom {
	color: white;
	width: 256px;
	font-size: 30px;
}

a.button.login {
	color: white;
	background-image: url(../img/gamescom/login-btn.png);
	background-color: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	border-bottom: 0px;
	margin-top: 5%;
	height: 65px;
}

a.button.login:hover {
	background-color: rgba(24, 234, 132, 1);
}

nav {
	background: rgba(0, 0, 0, 0);
	height: 80px;
}

.nav-content {
	border-style: solid;
	border-color: #65e9c2;
	border-right-color: rgba(0, 0, 0, 0);
	border-left-color: rgba(0, 0, 0, 0);
	padding: 1px;
	max-width: 1024px;
	height: 88px;
	margin: auto;
}

.icon-bar {
	background: none;
	border-style: solid;
	border-color: #65e9c2;
	border-right-color: rgba(0, 0, 0, 0);
	border-left-color: rgba(0, 0, 0, 0);
	padding: 1px;
	max-width: 1024px;
	height: 80px;
	margin: auto;
}

.icon-bar a:hover {
	background-color: rgba(24, 234, 132, 1);
}

.icon-bar a {
	height: 100%;
}

.main_menu li.active a,
.main_menu li a:hover {
	background-color: rgba(24, 234, 132, 1);
}

.top-banner .space {
	border-style: solid;
	border-color: #65e9c2;
	border-width: 1px;
	padding: 0 10px 20px 30px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.top-banner .green {
	border-style: solid;
	border-color: #65e9c2;
	border-width: 1px;
	padding: 0 10px 20px 20px;
	background-image: none;
	background: rgba(0, 0, 0, 0);
	margin-top: 5px;
	height: auto;
}

.top-banner {
	min-height: 100%;
}

.next_gamejam_box {
	visibility: hidden;
}

.socialmedia {
	padding: 13px;
}

.socialmedia li.facebook a {
	background-image: url(../img/gamescom/facebook.png);
	background-size: cover;
}

.socialmedia li.youtube a {
	background-image: url(../img/gamescom/youtube.png);
	background-size: cover;
}

.socialmedia li.googleplus a {
	display: none;
}

.socialmedia li.twitter a {
	background-image: url(../img/gamescom/twitter.png);
	background-size: cover;
}

.top-banner .columns {
	height: auto;
}

#footer {
	background-color: transparent;
	border-color: transparent;
	border-style: none;
	border-bottom-color: rgba(0, 0, 0, 0);
	border-left-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	padding: 40px 0 60px 0;
	text-align: center;
}

.news-related-rubrik {
	background-image: url(../img/gamescom/news-related-rubrik_background.png);
}

.news-list-item p.date {
	color: #65e9c2;
}

a .news-list-item p,
.news-list-item a p {
	color: #FFFFFF;
}

.related-news-list-item a:hover h3,
.news-list-item a:hover h3 {
	color: rgba(24, 234, 132, 1);
}

.content p a,
.content p a:hover {
	color: rgba(24, 234, 132, 1);
}

.news p.date {
	color: #65e9c2;
}

.news p.tags a {
	color: rgba(24, 234, 132, 1);
}

.gamejam-list-item p.date {
	color: #65e9c2;
}

.gamejam-list-item a:hover h3 {
	color: rgba(24, 234, 132, 1);
}

a .gamejam-list-item p,
.gamejam-list-item a p {
	color: #FFFFFF;
}

.game-list-item p.date {
	font-size: 14px;
	margin-bottom: 6px;
	margin-top: 6px;
	color: #65e9c2;
}

.game-list-item a:hover h3 {
	color: rgba(24, 234, 132, 1);
}

a .game-list-item p,
.game-list-item a p {
	color: #FFFFFF;
}

#gamejams_pulldown {
	background: url('data:image/gif;base64,R0lGODlhEgAJAKIHANHktGenCdrqxNvqxfT57mqpDv///2GkACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS41LWMwMjEgNzkuMTU0OTExLCAyMDEzLzEwLzI5LTExOjQ3OjE2ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1wTU06T3JpZ2luYWxEb2N1bWVudElEPSJ4bXAuZGlkOmM5NWIzZjI3LTZmZjctNGM0YS04ZDgwLWM2NjdlZjM3ODY4ZiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo4NzY0OUJCRjlEODUxMUU0QjE4QUE2RDI2RTFBMDQ5RSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo4NzY0OUJCRTlEODUxMUU0QjE4QUE2RDI2RTFBMDQ5RSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNCAoV2luZG93cykiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3N2FjMTM5Zi04MjNkLTY3NDYtODAwZC04OTczZjU4NGMwNGMiIHN0UmVmOmRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDphNGViYjAwMi05YmQ2LTExZTQtOTU5OS04YTk2NjVkN2NhMDQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQBAAAHACwAAAAAEgAJAAADJhhA3O4gnDKMvdiOcjrN2daNH2iII1mFXJqWWuu+Kzq7hWDfuOwmADs=') no-repeat 284px center #65e9c2;
}

.green p a {
	color: rgba(24, 234, 132, 1) !important;
}

input.button {
	background-color: #65e9c2;
	color: #fff;
}

input.button:hover,
input.button:focus {
	background-color: #65e9c2;
}

.alert-box.success {
	background-color: rgba(24, 234, 132, 1);
	border-color: #65e9c2;
}

.alert-box a {
	color: #65e9c2;
}

a {
	color: rgba(24, 234, 132, 1);
}

.content li:before {
	color: #65e9c2;
}

a.button {
	background-color: #65e9c2;
	color: #fff;
}

a:hover.button, a.button:hover,
a:focus.button, a.button:focus {
	background-color: rgba(24, 234, 132, 1);
}

form a, form a:hover {
	color: rgba(24, 234, 132, 1);
}

.apply_box {
	height: 150px;
	max-width: 311px;
	background-image: url(../img/gamescom/login-btn.png);
	background-color: rgba(24, 234, 132, 1);
}

.apply_box p {
	padding: 10px 0;
	text-align: center;
	font-family: "Ruda", sans-serif;
}

.apply_box .next,
a .top-banner .next_gamejam_box .next {
	text-transform: uppercase;
	font-size: 70px;
	font-weight: bold;
	line-height: 66px;
	color: #fff;
}

.apply_box .gamejam {
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	line-height: 1px;
	color: #65e9c2;
}

.apply_box .more {
	text-transform: uppercase;
	font-size: 41px;
	font-weight: bold;
	line-height: 1px;
	color: #fff;
}

.apply_box .here {
	text-transform: uppercase;
	font-size: 71px;
	font-weight: bold;
	line-height: 71px;
	color: white;
}

a.circle {
	background-color: rgba(24, 234, 132, 1);
}

a.circle:hover {
	background-color: #65e9c2;
}

p.gamejam_subline {
	color: #65e9c2;
}

.greenbox {
	background-color: #65e9c2;
}

.gamejam-winner .number {
	background-color: rgba(24, 234, 132, 1);
}

.row {
	width: auto;
}

label {
	color: #FFFFFF;
}

h2 {
	margin: 0px 0 20px 0;
}
