@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Ruda:900);

body {
	font-family: 'Open Sans', sans-serif;}

.green-dark {
	color: #1a5f10;}
.centered {
	text-align: center;}

p {
	padding: 0;
	margin: 0;}

p.gamejam_subline {
	font-size: 20px;
	color: #1e7f11;
	margin-bottom: 2em;}

a {
	color: #fffc00;}

.content p a,
.content p a:hover {
	color: #61a400;}

h1 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;}
h1.gamejam_overview	{
	line-height: 120%;
	margin: 0;
	padding: 0;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: normal;}
h1.gamejam_single	{
	line-height: 120%;
	margin: 2em 0 0 0;
	padding: 0;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: normal;}


h2 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 32px;
	margin: 50px 0 40px 0;}
#best-of-games h2 {
	font-size: 45px;
	color: #fff;
	text-align: center;}
#last-gamjams h2 {
	font-size: 45px;
	color: #1a5f10;
	text-align: center;}


h3 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin: 10px 0;}

h3:first-child {
	margin-top: 0;}

.content ul {
    list-style: none;
    padding:0;
    margin:20px 0;}

.content li {
    padding: 0 0 1em 1em;
    text-indent: -.7em;}

.content li:before {
    content: "• ";
    color: #61a400;
	font-weight: bold;}

/* Foundation Alerts */
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: bold;
  margin-bottom: 1.25em;
  position: relative;
  padding: 0.6875em 1.3125em 0.75em 0.6875em;
  font-size: 0.875em;
  background-color: #2ba6cb;
  border-color: #2284a1;
  color: white; }
  .alert-box .close {
    font-size: 1.375em;
    padding: 5px 4px 4px;
    line-height: 0;
    position: absolute;
    top: 0.4375em;
    right: 0.3125em;
    color: #333333;
    opacity: 0.3; }
    .alert-box .close:hover, .alert-box .close:focus {
      opacity: 0.5; }
  .alert-box.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .alert-box.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }
  .alert-box.success {
    background-color: #5da423;
    border-color: #457a1a;
    color: white; }
  .alert-box.alert {
    background-color: #c60f13;
    border-color: #970b0e;
    color: white; }
  .alert-box.secondary {
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    color: #505050; }
