{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block breadcrumb %}
<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumb_menu">
			<li><a href="">Home</a></li>
			<li class="active">Contact</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}

<div class="row top-banner">

	<!-- green Box -->
	<div class="large-8 columns">
		<div class="green">
			<h1>Contact</h1>
			<p>You can write us at: <a href="mailto:gamejam@innogames.com">gamejam@innogames.com</a></p>
		</div>
	</div>

	<!-- Next Game Jam Banner -->
	<!--
	<div class="large-4 columns">
		<a href="#">
			<img src="DummyContent/dummy-top-banner.png" alt="Dummy Top Banner Image" class="opacityfade">
		</a>
	</div>
	-->

</div>
<!-- Banner Stop -->

<!-- Plain Text Start -->
<div class="row">
	<div class="large-12 columns">
		Please don't hesitate to contact us. We are also happy about media coverage.
		&nbsp;<br>
		&nbsp;<br>
		&nbsp;<br>
		&nbsp;
	</div>
</div>

{% endblock %}
