{% extends "base.html" %}

{% block title %}Safespace Policy{% endblock %}

{% block breadcrumb %}
<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumb_menu">
			<li><a href="{{ url_for('index') }}">Home</a></li>
			<li class="active">Safe Space Policy</li>
		</ul>
	</div>
</div>
{% endblock %}


{% block content %}

<div class="row top-banner">
	<div class="large-8 columns">
		<div class="green">
			<h1>Safe Space Policy</h1>

			<p>These rules are laid down to allow a fun, entertaining and fair event for everyone. They are subject for iteration and improvement. We appreciate your feedback!<br>
				&nbsp;<br>
				We expect participants to follow these rules.</p>
		</div>
	</div>
</div>

<div class="row rule">
	<div class="large-9 columns">
		<p>The InnoGames Jam is dedicated to providing a harassment-free social experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion or game preferences. We do not tolerate harassment of participants in any form. Anyone violating these rules will be expelled from the events at the discretion of the organisers.</p>
		<br>
		<p>Harassment includes verbal comments that reinforce social structures of domination related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or games, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behaviour are expected to comply immediately.</p>
		<br>
		<p>If a participant engages in harassing behaviour, the organisers may take any action they deem appropriate, including warning the offender or expulsion from the gamejam with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact the event's official contact person or a member of the event staff immediately.</p>
		<br>
		<p>The staff will be happy to help participants contact security or police, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. We value your attendance.</p>
	</div>
</div>

{% endblock %}
