{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block breadcrumb %}
<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumb_menu">
			<li><a href="">Home</a></li>
			<li class="active">Terms and Conditions</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}

<div class="row top-banner">
	<!-- green Box -->
	<div class="large-8 columns">
		<div class="green">
			<h1>Terms and Conditions</h1>
			<p>If you have any questions, write us at: <a href="mailto:gamejam@innogames.de">gamejam@innogames.de</a></p>
		</div>
	</div>
</div>
<!-- Banner Stop -->

<!-- Plain Text Start -->
<div class="row">
	<div class="large-12 columns">
		Please don't hesitate to contact us.
		&nbsp;<br>
		&nbsp;<br>
		&nbsp;<br>
		&nbsp;
	</div>
</div>

{% endblock %}
