{% extends "jam/base.html" %}
{% from "_formhelpers.html" import form_errors %}

{% block breadcrumb %}
<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumb_menu">
			<li><a href="{{ url_for('index') }}">Home</a></li>
			<li><a href="{{ url_for('jams') }}">Game Jams</a></li>
			<li><a href="{{ url_for('jam_info', jam_slug=jam.slug) }}">{{ jam.title }}</a></li>
			<li class="active"><a href="">Participate</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<h1>Participate in {{ jam.title }}</h1>

	<form method="post" action="{{ url_for('jam_participate', jam_slug = jam.slug) }}">
		{{ form.hidden_tag() }}
		{{ form_errors(form) }}

		<div class="row-fluid">
			<div class="span3">
			</div>
			<div class="span6">
				<h2>Confirm participation</h2>

				<p>
					By registering you tell us you plan to participate. Please
					only register if you are free to join on the jam date, and
					are <b style="color: red;">seriously planning</b> to do so. The time of the jam will be
				</p>

				<p style="font-size: 1.2em; font-weight: bold; text-align: center;">
					{{ jam.start_time | nicedate }} CET
					<small>to</small>
					<br/>

					{{ jam.end_time | nicedate }} CET <br/>
					<small>({{ jam.duration }} hours)</small>
					<br/>
					at<br/>
					InnoGames GmbH<br/>
					Friesenstraße 13<br/>
					20097 Hamburg
				</p>
				<p>

				<div class="page" style="border:1px inset; padding:4px; height:175px; overflow:auto">

					<!-- regular forum rules -->
					<p><strong>Teilnahmebedingungen</strong></p>

					<p align="center">
						<strong>TEILNAHMEBEDINGUNGEN</strong>
					</p>

					<p align="center">
						<strong>INNOGAMES GAME JAM</strong>
					</p>

					<p>
						<strong></strong>
					</p>

					<p>
						<strong> &#167; 1 </strong>
						<strong>Game Jam</strong>
					</p>

					<p>
						Veranstalter des Game Jams ist ausschlie&#223;lich die InnoGames GmbH (InnoGames), Friesenstra&#223;e 13, 20097 Hamburg, Deutschland.
					</p>

					<p>
						<strong> &#167; 2 </strong>
						<strong>Teilnahme </strong>
					</p>

					<p>
						(1) Am Game Jam k&#246;nnen nur vollj&#228;hrige nat&#252;rliche Personen teilnehmen, die sich als Teilnehmer registriert haben. InnoGames beh&#228;lt es
						sich vor, sich den Ausweis der Teilnehmer vorlegen zu lassen.
					</p>

					<p>
						(2) Die Teilnahme am Game Jam ist kostenlos und unabh&#228;ngig von jeglichem Erwerb von Waren oder der Inanspruchnahme entgeltlicher Leistungen.
					</p>

					<p>
						(3) Bei erfolgreicher Anmeldung erh&#228;lt der Teilnehmer eine Anmeldebest&#228;tigung.
					</p>

					<p>
						<strong> &#167; 3 </strong>
						<strong>Beginn und Ende / An- und Abreise</strong>
					</p>

					<p>
						Beginn und Ende des Game Jam werden auf der InnoGames Homepage (z.B.
						<a href="http://www.gamejam.innogames.com">www.gamejam.innogames.com</a>,
						www.innogames.com) bekanntgegeben. Einlass in das Geb&#228;ude ist in der Regel eine Stunde vor Beginn des Game Jam.
					</p>

					<p>
						Die An- und Abreise ist nicht Bestandteil des Vertrages und erfolgt auf eigene Gefahr. Eine Fahrtkostenerstattung erfolgt nicht.
					</p>

					<p>
						<strong></strong>
					</p>

					<p>
						<strong> &#167; 4 </strong>
						<strong>Aufenthalt im Geb&#228;ude </strong>
					</p>

					<p>
						Der Aufenthalt im Geb&#228;ude ist nur in den Etagen 1. (zum Schlafen und Ausruhen) und 6. (Gaming Area) erlaubt.<strong> </strong>
					</p>

					<p>
						<strong> &#167; 5 </strong>
						<strong>Verpflegung/ Getr&#228;nke</strong>
					</p>

					<p>
						(1) Informationen bez&#252;glich der Verpflegung und Getr&#228;nke, insbesondere in Bezug auf Fr&#252;hst&#252;ck, Essenspartner, etc., sind der Homepage
						oder entsprechenden Aush&#228;ngen an den Tagen des Game Jam zu entnehmen.
					</p>

					<p>
						(2) Sofern der Teilnehmer, das Angebot von InnoGames ausgew&#228;hlten Essenspartnern wahrnimmt, ist zwingend zu beachten, dass die Bestellung von Alkohol
						und Zigaretten nicht erlaubt ist.
					</p>

					<p>
						(3) Sofern InnoGames unentgeltlich Verpflegung und Getr&#228;nke zur Verf&#252;gung stellt, gilt das entsprechende Angebot jeweils nur solange der Vorrat
						reicht.
					</p>

					<p>
						(4) Sofern von InnoGames Ger&#228;te, wie z.B. Kaffeeautomaten, Kaffeemaschinen etc. zur Verf&#252;gung gestellt werden, &#252;bernimmt InnoGames keine
						Gew&#228;hr, dass diese funktionieren.
					</p>

					<p>
						<strong> &#167; 6 </strong>
						<strong>Schlafm&#246;glichkeiten und Waschgelegenheiten </strong>
					</p>

					<p>
						(1) Im ersten Stock stehen zwei R&#228;ume zum Schlafen zur Verf&#252;gung. Schlafs&#228;cke und Isomatten o.&#228;. Equipment sind mitzubringen.
						<strong></strong>
					</p>

					<p>
						(2) Toiletten und Waschbecken befinden sich<strong> </strong>in den Etagen 1 und 6.<strong> </strong>
					</p>

					<p>
						<strong></strong>
					</p>

					<p>
						<strong> &#167; 7 </strong>
						<strong>Internetnutzung</strong>
					</p>

					<p>
						(1) F&#252;r die Dauer des Game Jams wird den Teilnehmern ein spezielles WLAN bzw. ein spezieller Internetzugang zur Verf&#252;gung gestellt. Die
						entsprechenden (Zugangs-) Daten werden den Teilnehmern am Tag des Game Jam bekanntgegeben.
					</p>

					<p>
						InnoGames ist lediglich Vermittler des Zugangs. InnoGames leitet den Internet-Verkehr des Teilnehmers transparent und ungefiltert weiter und bem&#252;ht
						sich um eine hohe Verf&#252;gbarkeit des WLANs und des Internet-Zugangs. Ein Rechtsanspruch auf die ununterbrochene Benutzung und/oder eine bestimmte
						Geschwindigkeit des Internet-Zuganges besteht nicht. Es handelt sich um eine freiwillige Leistung. InnoGames bietet daher keine uneingeschr&#228;nkte
						Verf&#252;gbarkeit des Internet-Zugangs oder Erreichbarkeit von Servern, die nicht im Einflussbereich von InnoGames liegen und &#252;bernimmt keine
						Gew&#228;hr f&#252;r die fehlerfreie &#220;bermittlung oder Weiterleitung von Datenverkehr.
					</p>

					<p>
						(2) Stromkabel / Lan-Kabel sollten von den Teilnehmern selbst mitgebracht werden. InnoGames kann nicht versichern, dass ausreichend Kabel vorhanden sind.
					</p>

					<p>
						<strong></strong>
					</p>

					<p>
						<strong>(3) Der Teilnehmer akzeptiert mit der Anmeldung zum Game Jam die folgenden Nutzungsbedingungen:</strong>
					</p>

					<p>
						Der Teilnehmer darf mit Form, Inhalt oder verfolgtem Zweck seiner Internet-Nutzung nicht gegen gesetzliche Verbote, die guten Sitten und Rechte Dritter
						(insbesondere, jedoch nicht abschlie&#223;end, Namens-, Urheber-, Datenschutzrechte, Allgemeine Pers&#246;nlichkeitsrechte etc.) versto&#223;en.
						Insbesondere verpflichtet sich der Teilnehmer, keine urheberrechtlich gesch&#252;tzten Inhalte, keine pornografischen, gewaltverherrlichenden oder
						volksverhetzenden Inhalte darzustellen, &#246;ffentlich zug&#228;nglich zu machen oder zu verbreiten, nicht zu Straftaten aufzurufen oder Anleitungen
						hierf&#252;r darzustellen. Gleiches gilt f&#252;r die Versendung von E-Mails oder anderweitigen Nachrichten. Verst&#246;&#223;t der Teilnehmer oder z.B.
						sein E-Mail-Verkehr gegen die genannten Verbote, die guten Sitten oder Rechte Dritter und hat der Teilnehmer dies zu vertreten, haftet er gegen&#252;ber
						InnoGames auf Ersatz aller hieraus entstehenden Sch&#228;den. Der Teilnehmer stellt InnoGames von etwaigen aus diesen Verst&#246;&#223;en resultierenden
						Anspr&#252;chen Dritter frei. Der Teilnehmer darf insbesondere keine Daten versenden oder speichern, die nach ihrer Art oder Beschaffenheit (z.B. Viren),
						Gr&#246;&#223;e oder Vervielf&#228;ltigung (z.B. Spamming) geeignet sind, das Datennetz von InnoGames zu gef&#228;hrden. Der Teilnehmer vermeidet
						Datenverkehr mit Dauerlast und hohem Transferaufkommen und stellt keinerlei Internetdienste f&#252;r Dritte (Webhosting, Filesharing u.&#228;.) zur
						Verf&#252;gung. F&#252;r jeden Fall der Zuwiderhandlung gegen vorstehende Verpflichtungen oder bei Verdacht eines Versto&#223;es kann die Nutzung des WLANs
						bzw. Internetzugangs jederzeit ohne Angabe von Gr&#252;nden beendet/unterbrochen werden.
					</p>

					<p>
						(4) Ein Versto&#223; gegen diese Internetnutzungsbedingungen kann den sofortigen Ausschluss von der Teilnahme am Game Jam zur Folge haben. InnoGames
						beh&#228;lt sich die Geltendmachung eines Schadensersatzes vor.
					</p>

					<p>
						<strong></strong>
					</p>

					<p>
						<strong> &#167; 8 </strong>
						<strong>Schutzrechte Dritter im Rahmen des zu erstellenden Spiels</strong>
					</p>

					<p>
						(1) Der Teilnehmer darf mit Form, Inhalt oder verfolgtem Zweck des von ihm erstellten Spiels nicht gegen gesetzliche Verbote, die guten Sitten und Rechte
						Dritter (insbesondere, jedoch nicht abschlie&#223;end, Namens-, Urheber-, Datenschutzrechte, Allgemeine Pers&#246;nlichkeitsrechte etc.) versto&#223;en.
						Insbesondere verpflichtet sich der Teilnehmer, keine urheberrechtlich gesch&#252;tzten Inhalte, keine pornografischen, gewaltverherrlichenden oder
						volksverhetzenden Inhalte darzustellen, &#246;ffentlich zug&#228;nglich zu machen oder zu verbreiten, nicht zu Straftaten aufzurufen oder Anleitungen
						hierf&#252;r darzustellen.
					</p>

					<p>
						(2) Verst&#246;&#223;t der Teilnehmer gegen die genannten Verbote, die guten Sitten oder Rechte Dritter und hat der Teilnehmer dies zu vertreten, haftet er
						gegen&#252;ber InnoGames auf Ersatz aller hieraus entstehenden Sch&#228;den. Der Teilnehmer stellt InnoGames von etwaigen aus diesen Verst&#246;&#223;en
						resultierenden Anspr&#252;chen Dritter frei. Ein Versto&#223; kann den sofortigen Ausschluss von der Teilnahme am Game Jam zur Folge haben. InnoGames
						beh&#228;lt sich in diesen F&#228;llen die Geltendmachung eines Schadensersatzes vor.
					</p>

					<p>
						<strong></strong>
					</p>

					<p>
						<strong> &#167; 9 </strong>
						<strong>Fotos und Videoaufnahmen</strong>
					</p>

					<p>
						Der Teilnehmer erkl&#228;rt sich ausdr&#252;cklich damit einverstanden, dass von ihm Fotos und Videoaufnahmen gemacht werden d&#252;rfen, die InnoGames
						zeitlich unbegrenzt nutzen und ver&#246;ffentlichen darf.
					</p>

					<p>
						Eine Nutzung und Ver&#246;ffentlichung erfolgt insbesondere zum Zwecke
					</p>

					<p>
						&#183; des Berichts &#252;ber den Game Jam
					</p>
					<ul>
						<li>
							der Werbung / PR
						</li>
					</ul>
					<p>
						Eine Nutzung und Ver&#246;ffentlichung kann insbesondere im Internet, wie z.B. auf den InnoGames Blogs, auf den InnoGames Homepages (www.innogames.com oder
						www.Gamejam.innogames.com) oder im Fernsehen und in der Presse erfolgen.
					</p>

					<p>
						Ferner k&#246;nnen Ver&#246;ffentlichungen in social media erfolgen, wie z.B.
					</p>
					<ul>
						<li>
							Facebook
						</li>
						<li>
							Twitter
						</li>
						<li>
							You Tube
						</li>
						<li>
							Twitch
						</li>
					</ul>
					<p>
						Ein Anspruch des Teilnehmers auf die Ver&#246;ffentlichung von Bildaufnahmen erfolgt hieraus nicht.
					</p>

					<p>
						<strong></strong>
					</p>

					<p>
						<strong> &#167; 10 </strong>
						<strong>Ausschnitte aus den Spielen </strong>
					</p>

					<p>
						(1) Der Teilnehmer erkl&#228;rt sich ausdr&#252;cklich damit einverstanden, dass von dem Spiel, an dem er beteiligt ist, zu unterschiedlichen Zeitpunkten
						und in unterschiedlichen Versionen screenshots oder sonstige Ausschnitte angefertigt werden d&#252;rfen und er erkl&#228;rt sich damit einverstanden, dass
						diese zeitlich und r&#228;umlich unbeschr&#228;nkt genutzt und ver&#246;ffentlicht werden.
					</p>

					<p>
						Eine Nutzung und Ver&#246;ffentlichung erfolgt insbesondere zum Zwecke
					</p>

					<p>
						&#183; des Berichts &#252;ber den Game Jam
					</p>
					<ul>
						<li>
							der Werbung / PR
						</li>
					</ul>
					<p>
						Eine Nutzung und Ver&#246;ffentlichung kann insbesondere im Internet, wie z.B. auf den InnoGames Blogs, auf den InnoGames Homepages (www.innogames.com oder
						www.Gamejam.innogames.com) oder im Fernsehen und in der Presse erfolgen.
					</p>

					<p>
						Ferner k&#246;nnen Ver&#246;ffentlichungen in social media erfolgen, wie z.B. bei Facebook, Twitter, You Tube, Twitch
					</p>

					<p>
						(2) Jeder Teilnehmer r&#228;umt InnoGames am Ende des Game Jams an den von seinem Spiel f&#252;r die Pr&#228;sentation angefertigten Screenshots,
						mindestens jedoch an einem hiervon, das r&#228;umlich und zeitlich unbegrenzte Nutzungsrecht ein, insbesondere das Recht zur Ver&#246;ffentlichung.
					</p>

					<p>
						Eine Ver&#246;ffentlichung kann insbesondere im Internet, wie z.B. auf den InnoGames Blogs, auf den InnoGames Homepages (www.innogames.com oder
						www.Gamejam.innogames.com) oder im Fernsehen und in der Presse erfolgen.
					</p>

					<p>
						Ferner k&#246;nnen Ver&#246;ffentlichungen in social media erfolgen, wie z.B. bei Facebook, Twitter, You Tube, Twitch.
					</p>

					<p>
						(3) Ein Anspruch des Teilnehmers auf die Ver&#246;ffentlichung des Spiels oder von Screenshots oder sonstigen Ausschnitten erfolgt hieraus nicht.
						<strong></strong>
					</p>

					<p>
						<strong> &#167; 11 </strong>
						<strong>Ermittlung der Gewinner </strong>
					</p>

					<p>
						(1) Die Ermittlung der drei besten Spiele erfolgt unter allen vollst&#228;ndig zur Verf&#252;gung gestellten und pr&#228;sentierten Spielen.
					</p>

					<p>
						(2) Die drei bestplatzierten Spiele sowie die entsprechenden Teilnehmer, die diese erstellt haben, werden nach Ablauf des Game Jams bekannt gegeben und
						namentlich ver&#246;ffentlicht werden. Dies kann z.B. auf der Unternehmenswebseite von InnoGames, auf
						<a href="http://www.facebook.com/InnoGames">www.facebook.com/InnoGames</a>, twitter, you tube und/oder &#228;hnliche social media oder im Rahmen einer
						Pressemitteilung geschehen. Mit dieser Form der Ver&#246;ffentlichung erkl&#228;rt sich der jeweilige Teilnehmer ausdr&#252;cklich einverstanden. Ein Recht
						auf Ver&#246;ffentlichung und/oder eine namentliche Nennung ergibt sich f&#252;r die Teilnehmer hieraus jedoch nicht.
					</p>

					<p>
						<strong></strong>
					</p>

					<p>
						<strong> &#167; 12 </strong>
						<strong>Ausschluss von der Teilnahme am Game Jam</strong>
					</p>

					<p>
						(1) Bei einem Versto&#223; gegen diese Teilnahmebedingungen beh&#228;lt sich InnoGames das Recht vor, Personen vom Game Jam auszuschlie&#223;en.
					</p>

					<p>
						(2) Im Weiteren werden Personen von der Teilnahme ausgeschlossen, die
					</p>

					<p>
						&#183; gegen die Internetnutzungsbedingungen versto&#223;en,
					</p>

					<p>
						&#183; sich unerlaubter Hilfsmittel bedienen
					</p>

					<p>
						&#183; die ordnungsgem&#228;&#223;e Durchf&#252;hrung des Game Jams behindern oder st&#246;ren, indem sie gegen die Teilnahmebedingungen versto&#223;en
						und/oder sonst in unfairer und/oder unlauterer Weise versuchen, den Game Jam zu beeinflussen, insbesondere durch St&#246;rung, Bedrohung, Bel&#228;stigung
						von InnoGames Mitarbeitern oder anderen Teilnehmern.
					</p>

					<p>
						&#183; mutwillig Sachen besch&#228;digen
					</p>

					<p>
						&#183; gegen das geltende Rauchverbot im gesamten Geb&#228;ude versto&#223;en
					</p>
					<ul>
						<li>
							betrunken sind
						</li>
					</ul>
					<p>
						&#183; sich in sonstiger Weise unangemessen verhalten
					</p>

					<p>
						Auch die &#220;bermittlung von fehlerhaften Personenangaben kann zu einem Ausschluss von der Teilnahme am Game Jam f&#252;hren.
					</p>

					<p>
						(3) InnoGames beh&#228;lt sich weitere Sanktionen und Ma&#223;nahmen (Schadensersatz, Strafanzeige) insoweit ausdr&#252;cklich vor.
					</p>

					<p>
						<strong> &#167; 13 </strong>
						<strong>Vorzeitige Beendigung des Game Jams</strong>
					</p>

					<p>
						InnoGames beh&#228;lt sich vor, den Game Jam aus sachlichem Grund jederzeit abzubrechen oder zu beenden. Dies gilt insbesondere in den F&#228;llen, in
						denen eine ordnungsgem&#228;&#223;e Durchf&#252;hrung des Game Jams nicht gew&#228;hrleistet werden kann. InnoGames obliegt die alleinige Entscheidung, ob
						ein Abbruch oder eine vorzeitige Beendigung geboten sind.
					</p>

					<p>
						Sofern eine Beendigung durch das Verhalten eines Teilnehmers verursacht wird, beh&#228;lt InnoGames es sich vor, von dieser Person den entstandenen Schaden
						ersetzt zu verlangen.
					</p>

					<p>
						Anspr&#252;che des einzelnen Teilnehmers aus dem Abbruch ergeben sich nicht, insbesondere keine Fahrtkostenerstattung.
					</p>

					<p>
						<strong> &#167; 14 </strong>
						<strong>Datenschutz</strong>
					</p>

					<p>
						(1) Der Teilnehmer erkl&#228;rt sich ausdr&#252;cklich damit einverstanden, dass InnoGames die f&#252;r die Teilnahme an dem Game Jam erforderlichen Daten
						(Vorname, Nachname, Alter und Email-Adresse) und die zum Zwecke der Abwicklung des Game Jam erforderlichen Daten (Vorname, Nachname, Alter, Email-Adresse,
						optional: Herkunftsort) speichert, verarbeitet und nutzt. Die Daten werden grunds&#228;tzlich streng vertraulich behandelt und nicht an Dritte
						weitergegeben, es sei denn, dies ist zur Abwicklung des Game Jams erforderlich. Dem Teilnehmer steht es jederzeit frei, unter gamejam@innogames.com seine
						Einwilligung in die Speicherung zu widerrufen und somit von der Teilnahme am Game Jam zur&#252;ckzutreten.
					</p>

					<p>
						(2) InnoGames verpflichtet sich, die gesetzlichen Bestimmungen zum Datenschutz zu beachten.
					</p>

					<p>
						(3) Die Daten &#252;ber die drei bestplatzierten Spiele und deren Entwickler werden dauerhaft f&#252;r die Dauer gesetzlicher Aufbewahrungspflichten aus
						handels- und steuerlichen Gr&#252;nden und ansonsten nur zu Rechtsverteidigungszwecken gespeichert.
					</p>

					<p>
						(4) Im Rahmen der Internetnutzung speichert InnoGames die Benutzer- und Verbindungsdaten entsprechend den gesetzlichen Vorgaben und Fristen. Eine
						Weitergabe dieser Daten an Dritte erfolgt nicht, es sei denn, sie wird im Falle gesetzeswidriger Handlungen des Benutzers durch
						Strafverfolgungsbeh&#246;rden veranlasst.
					</p>

					<p>
						<strong> &#167; 15 </strong>
						<strong>Haftung</strong>
					</p>

					<p>
						(1) InnoGames haftet nur f&#252;r Sch&#228;den, welche von InnoGames oder einem seiner Erf&#252;llungsgehilfen vors&#228;tzlich oder grob fahrl&#228;ssig
						oder durch die schuldhafte Verletzung von Kardinalspflichten (wesentliche Vertragspflicht) verursacht wurden. Soweit InnoGames im Falle der schuldhaften
						Verletzung einer wesentlichen Vertragspflicht auch f&#252;r fahrl&#228;ssige Pflichtverletzungen haftet, ist die Haftung auf vertragstypische,
						vorhersehbare Sch&#228;den begrenzt. Eine dar&#252;ber hinaus gehende Haftung ist ausgeschlossen. Vertragswesentliche Pflichten sind jene, die die
						Durchf&#252;hrung des Vertrages erst erm&#246;glichen und auf deren Einhaltung der Teilnehmer regelm&#228;&#223;ig vertrauen darf.
					</p>

					<p>
						(2) Voranstehende Haftungsbeschr&#228;nkung gilt insbesondere auch f&#252;r mitgebrachte Gegenst&#228;nde, insbesondere f&#252;r Wertsachen und
						Kleidungsst&#252;cke, Schlafutensilien, sowie f&#252;r f&#252;r Sch&#228;den durch Fehler, Verz&#246;gerungen oder Unterbrechungen in der &#220;bermittlung
						von Daten o.&#228;., bei Viren, St&#246;rungen der technischen Anlagen oder des Services, unrichtige Inhalte, Verlust oder L&#246;schung von Daten.
					</p>

					<p>
						(3) Vorstehende Haftungsbeschr&#228;nkungen gelten nicht f&#252;r Sch&#228;den aus der Verletzung des Lebens, des K&#246;rpers und/oder Gesundheit.
					</p>

					<p>
						<strong> &#167; 16 </strong>
						<strong>Sonstiges</strong>
					</p>

					<p>
						(1) Sollten einzelne dieser Bestimmungen ung&#252;ltig sein oder werden, bleibt die G&#252;ltigkeit der &#252;brigen Teilnahmebedingungen hiervon
						unber&#252;hrt.
					</p>

					<p>
						(2) Es gilt ausschlie&#223;lich das Recht der Bundesrepublik Deutschland.
					</p>

					<p>
						<strong> &#167; 17 </strong>
						<strong>Kontakt </strong>
					</p>

					<p>
						Fragen zum Game Jam k&#246;nnen in der englischen oder deutschen Sprache an die folgende E-Mail-Adresse gerichtet werden: gamejam@innogames.de
					</p>

					<p>
						Stand: 05.10.2015
					</p>
				</div>
				</p>

				<br/>

				<p>If you need a translation of the Teilnahmebedingungen in english, please mail us
					<a href="mailto:gamejam@innogames.de">gamejam@innogames.de</a>
				</p>
				<br/>

				<p>
					After registering, you will have your <b style="color: red;">own team</b>,
					in which you can invite other users. When you leave your team,
					it is deleted.
				</p>

				<p>
					Your participation is non-binding. You can <b style="color: red;">cancel</b> it
					again prior to the jam, but your team will be deleted, if no other users
					are left in the team.
				</p>

				<p>
					<input type="submit" class="button" value="I understand, participate"/>
				</p>
			</div>
			<div class="span3">
			</div>
		</div>
	</form>
</div>
{% endblock %}
